:root{
    /* fonts: font-family, font-weight, font-size */
    --ff-sans: 'Poppins', sans-serif;
    --ff-serif: 'Playfair Display', serif;
    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 600;
    /* numbers after fs are just mental model fpr orders */
    --fs-10: 0.9rem;
    --fs-15: 1.25rem;
    --fs-30: 1.5rem;
    --fs-40: 2.0rem;
    --fs-50: 2.5rem;

    --clr-main: hsl(205, 83%, 37%);
    --clr-main-sec: hsl(212, 43%, 34%);
    --clr-highlight: hsl(44, 58%, 52%);
    --clr-test-01: hsl(234, 12%, 34%);
    --clr-test-02: hsl(212, 6%, 44%);
    --clr-test-03: hsl(0, 22%, 47%);
    --clr-test-04: hsl(210, 24%, 50%);
    --clr-test-05: hsl(210, 44%, 59%);

    --pad: 1rem;
    --wrapper-width: 90%;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    /* eliminate default margin / padding of elements BUT remember to put space back on*/
    margin: 0;
    padding: 0;
    /* border is only for prototyping! */
}

svg,
img {
    max-width: 100%; 
    /* 100% of parent */
    display: block;
    /* otherwise its inline-element */
}

html{
    /* font-family: var(--ff-sans);
    font-weight: var(--fw-regular); */
    line-height: 1.7;
    color: white;
    /* this color gets inherited, we can overwrite it when needed */
}
html, body{
    height: 100%;
    background-color: antiquewhite
    /* margin: 0; */
    /* padding-block-end: 5rem; */
    /* padding only on bottom of body */
}

input, button, textarea, select{
    font: inherit;
}

h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
    font-family: var(--ff-serif);
    letter-spacing: .05em;
}

ul{
    font-family: var(--ff-sans);
    line-height: 1.4;
}

h1, h2, h3{
    line-height: 1.2;
}

p{
    /* margin-bottom: 0.75rem; */
    line-height: 1.4;
    font-family: var(--ff-sans);
}

/* ul{
    list-style-type: none;
} */

/* CLASSES OF THE WEBPAGE */
.wrapper{
    background-color: var(--clr-main-sec);
    width: var(--wrapper-width);
    max-width: 600px;
    border-radius: 10px 10px 0 0;
    margin: 1rem auto;
    padding-bottom: 1rem;
    box-shadow: 1px 5px 10px rgba(100, 100, 10, 0.9);
}

.wrapper-turn{
    border: 2px solid rgb(240, 176, 56);
    background-color: var(--clr-main);
    border-radius: 10px 10px 0 0;
}

.turn_card{
    background-color: var(--clr-main-sec);
    width: var(--wrapper-width);
    max-width: 600px;
    border-radius: 10px 10px 0 0;
    margin: 1rem auto;
    padding-bottom: 1rem;
    box-shadow: 1px 5px 10px rgba(100, 100, 10, 0.9);
}

.card-meta{
    padding: 0.25rem 1rem;
    width: 100%;
    background-color: var(--clr-test-04);
    border-bottom: 2px solid var(--clr-highlight);
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/* .player{

} */

.card_title-area{
    --size-element: 2.5rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    text-transform: uppercase;
    padding: 0.5rem;
}

.card_title-area_img{
    background-color: var(--clr-test-04);
    box-shadow: 2px 2px 10px rgba(20, 20, 12, 0.5);
    border: 2px solid var(--clr-test-01);
    border-radius: 5px;
    --lengt: 25%;
    flex: 0 0 auto;
    width: var(--lengt);
    max-width: 80px;
    min-width: calc(2*(var(--size-element)));
    /* height: min(1rem, var(--lengt));; */
    display:block;
}

.card_title{
    padding: 0 0 0 1rem;
    flex: 1 1 0;
    width: 40%;
    font-size: 2rem;
}

@media (min-width: 600px){
    .wrapper{
        width: 75%;
    }
    .action-prerequisites_list{
        width: 75%;
    }
}

/* .wrapper > *{
    padding-left: var(--pad);
    padding-right: var(--pad);
} */

.wrapper > :first-child{
    /* typography-style, is always a heading */
    border: 2px solid rgb(240, 176, 56);
    background-color: var(--clr-main);
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.wrapper > :last-child{
    margin-bottom: 0;
}

.inside-wrapper{
    /* padding: calc(0.5*var(--pad)) var(--pad); */
    width: var(--wrapper-width);
    margin: 1rem auto;
}

.inside-wrapper-color{
    /* padding: calc(0.5*var(--pad)) var(--pad); */
    width: var(--wrapper-width);
    margin: 1rem auto;
    box-sizing: content-box;
    padding: 2.5%;
    color: black;
    background-color: antiquewhite;
    border-radius: 4px;
}

/* ################################################################################
#################################### headings ######################################
################################################################################ */

/* title and head are both mostly :first:child of wrapper */



.title{
    /* h1 */
    background-color: var(--clr-main);
    padding: 0.125em 0.5em 0.25em;
    color: white;
    font-size: var(--fs-50);
    line-height: .9;
}

.head{
    /* h2 */
    padding: 0.125em 0.5em 0.4em;
    color: white;
    font-size: var(--fs-40);
    line-height: .9;
    letter-spacing: 0.05em;
}

.subhead{
    /* h3 */
    width: fit-content;
    /* box-sizing: content-box; */
    padding: 0.125em 0.5em 0.5em;
    color: white;
    font-size: var(--fs-15);
    line-height: .9;
    border: 2px solid rgb(170, 165, 155);
    background-color: var(--clr-test-04);
    border-radius: 0px 10px 10px 0px;
    /* text-align: center; */
    color: white;
    /* text-transform: uppercase; */
}

/* ################################################################################
#################################### TEXT ######################################
################################################################################ */

.main-text{
    /* background-color: var(--clr-test-05); */
    font-size: var(--fs-15);
    color: black;
    width: 100%;
    margin: 0;

    /* border-left: 1rem var(--clr-highlight) solid; */
    /* box-shadow: 1px 1px 10px rgba(100, 100, 10, 0.5); */
}

.bold{
    font-weight: var(--fw-bold);
  
}

.text{
    margin-bottom: 0.75rem;
}

/* .text-white{

} */

.box-highlighted{
    background-color: var(--clr-test-04);
    margin: 0;
    padding: 0.125em 0.5em 0.25em;
    border-radius: 4px;
}

.box-highlighted + .box-highlighted{
    margin-top: 0.5rem;
}

.box-highlighted_text{
    margin: 0;
}

.box-lowlight{
    background-color: var(--clr-test-04);
    margin: 0;
    color: rgb(255, 255, 255);
    padding: 0.125em 0.5em 0.25em;
    border-radius: 4px;
}

.box-lowlight + .box-lowlight{
    margin-top: 0.5rem;
}


/* ul + p{
    margin-top: 0.75rem;
} */

/* ################################################################################
#################################### list ######################################
################################################################################ */

.list-highlighted{
    color: black;
    margin: 0.5rem 0 1.5rem;
    list-style-position: inside;
    padding: 0;
    max-width: 90%; 
    background-color: white;
    border-radius: 6px;
}

.list-highlighted_item{
    background-color:antiquewhite;
    border-radius: 6px;
    margin-bottom: 0.5em;
    list-style-type: disc;
    /* padding: calc(0.5*var(--pad)) 0 calc(0.5*var(--pad)) calc(0.5*var(--pad)); */
    text-underline-position: below;
    padding-left: 1.25rem;
    padding-right: 0.5rem;
    text-indent: -1rem;
    /* box-shadow: 1px 1px 10px rgba(100, 100, 10, 0.5); */
}

.list-highlighted_item::marker{
    color: black;
    /* white-space: pre-wrap; */
    /* font-size: var(--fs-30);
    line-height: 1; */
}

.list-highlighted_subitem{
    background-color: rgb(199, 204, 214);
    /* border: 1px dashed rgba(39, 27, 27, 0.5); */
    border-radius: 3px;
    margin-bottom: 0.5em;
    list-style-type: circle;
    padding: calc(0.5*var(--pad)) calc(0.5*var(--pad)) calc(0.5*var(--pad));
    text-underline-position: below;
    padding-left: 1.25rem;
    text-indent: -1rem;
}


.list-monochrome{
    margin: 0.5rem 0;
    color: black;
    list-style-position: inside;
    /* padding: 0rem 1rem; */
    max-width: 90%; 
    /* background-color: var(--clr-test-02); */
}

.list-monochrome_item{
    background-color: var(--clr-test-04);
    border-radius: 3px;
    margin-bottom: 0.5em;
    padding-right: 0.5rem;
    list-style-type: square;
    /* padding: calc(0.5*var(--pad)) 0 calc(0.5*var(--pad)) calc(0.5*var(--pad)); */
    text-underline-position: below;
    padding-left: 1.25rem;
    text-indent: -1rem;
}


.ordered-list{
    margin: 1rem;
}

.list_img-example{
        display: none;
        width: 60%; /* Optional: adjust size */
        height: auto;
}

.example-clickable{
    cursor: pointer;
}

/* ################################################################################
#################################### BUTTON ######################################
################################################################################ */


.button_go-section{
    border-radius: 10px;
    border: 1px solid rgb(121, 161, 235);
    width: fit-content;
    background-color: var(--clr-test-02);
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    padding: 0 .5rem;
}

/* .icon-arrow_p{
    margin: 0;
} */

.button_text{
    margin: 0;
    font-weight: 200;
}

.icon{
    height: 1em;
}