:root{
    /* fonts: font-family, font-weight, font-size */
    --ff-sans: 'Poppins', sans-serif;
    --ff-serif: 'Playfair Display', serif;
    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 600;
    /* numbers after fs are just mental model fpr orders */
    --fs-10: 0.9rem;
    --fs-15: 1.25rem;
    --fs-30: 1.5rem;
    --fs-40: 2.0rem;
    --fs-50: 2.5rem;

    --clr-main: hsl(205, 57%, 50%);
    --clr-main-sec: hsl(205, 62%, 72%);
    --clr-highlight: hsl(44, 58%, 52%);
    --clr-test-01: hsl(234, 12%, 34%);
    --clr-test-02: hsl(212, 6%, 44%);
    --clr-test-03: hsl(0, 22%, 47%);
    --clr-test-04: hsl(210, 48%, 91%);
    --clr-test-05: hsl(210, 44%, 59%);

    --pad: 1rem;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    /* eliminate default margin / padding of elements BUT remember to put space back on*/
    margin: 0;
    padding: 0;
    /* border is only for prototyping! */
}

svg,
img {
    max-width: 100%; 
    /* 100% of parent */
    display: block;
    /* otherwise its inline-element */
}

/* html{
    font-family: var(--ff-sans);
    font-weight: var(--fw-regular);
    line-height: 1.7;
    color: var(--clr-neutral-500);
    this color gets inherited, we can overwrite it when needed
} */
html, body{
    height: 100%;
    /* margin: 0; */
    /* padding-block-end: 5rem; */
    /* padding only on bottom of body */
}

input, button, textarea, select{
    font: inherit;
}

h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
    font-family: var(--ff-serif);
    letter-spacing: .05em;
}

ul{
    font-family: var(--ff-sans);
    line-height: 1.4;
}

h1, h2, h3{
    line-height: 1.2;
}

p{
    margin-bottom: 0.75rem;
    line-height: 1.4;
    font-family: var(--ff-sans);
}

/* ul{
    list-style-type: none;
} */

/* CLASSES OF THE WEBPAGE */
.wrapper{
    background-color: var(--clr-main-sec);
    /* background: linear-gradient(to top, white, var(--clr-main-sec) 50%); */
    width: 95%;
    max-width: 600px;
    border-radius: 10px 10px 0 0;
    margin: 1rem auto;
    padding-bottom: 1rem;
    box-shadow: 1px 1px 10px rgba(100, 100, 10, 0.5);
    /* border: 2px solid var(--clr-test-02); */
}

@media (min-width: 600px){
    .wrapper{
        width: 75%;
    }
    .action-prerequisites_list{
        width: 75%;
    }
}

/* .wrapper > *{
    padding-left: var(--pad);
    padding-right: var(--pad);
} */

.wrapper > :first-child{
    /* typography-style, is always a heading */
    border: 2px solid rgb(240, 176, 56);
    background-color: var(--clr-main);
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.inside-wrapper{
    /* padding: calc(0.5*var(--pad)) var(--pad); */
    width: 95%;
    margin: 1rem auto;
}

.inside-wrapper-02{
    /* padding: calc(0.5*var(--pad)) var(--pad); */
    width: 95%;
    margin: 1rem auto;
    box-sizing: content-box;
    padding: 1.5%;
    color: white;
    background-color: var(--clr-test-01);
}

.border{
    border: 2px solid var(--cl)
}

/* .inside-wrapper__color{
    width: 95%;
    margin: 0 auto;
    background-color: var(--clr-test-04);

    padding: .5rem .5rem ;
    line-height: 1;
} */

.requirements{
    
    background-color:var(--clr-main-sec);
}

.rule-action__title{
    background-color: var(--clr-main);
    padding: 0.125em 0.5em 0.25em;
    color: white;
    font-size: var(--fs-50);
    line-height: .9;
}

.rule-action__section{
    padding: 0.125em 0.5em 0.4em;
    color: white;
    font-size: var(--fs-40);
    line-height: .9;
    letter-spacing: 0.05em;
}

.rule-action__subsection{
    width: max-content;
    padding: 0.125em 0.5em 0.5em;
    color: white;
    font-size: var(--fs-15);
    line-height: .9;
    border: 2px solid rgb(240, 176, 56);
    background-color: var(--clr-main);
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.text-highlighted{
    background-color: var(--clr-test-04);
    margin: 0;
    padding: 0.125em 0.5em 0.25em;
    border-radius: 4px;
}

.text-highlighted + .text-highlighted{
    margin-top: 0.5rem;
}

.text{
    margin-bottom: 0.75rem;
}

ul + p{
    margin-top: 0.75rem;
}
/* lists and item */

.action-prerequisites_list{
    margin: 0.5rem 0;
    list-style-position: inside;
    padding: 0;
    max-width: 90%; 
    /* background-color: var(--clr-highlight); */
}

.requirement{
    background-color:antiquewhite;
    border-radius: 3px;
    margin-bottom: 0.5em;
    list-style-type: square;
    /* padding: calc(0.5*var(--pad)) 0 calc(0.5*var(--pad)) calc(0.5*var(--pad)); */
    text-underline-position: below;
    padding-left: 1.25rem;
    text-indent: -1rem;
    /* box-shadow: 1px 1px 10px rgba(100, 100, 10, 0.5); */
}

.action-items{
    margin: 0.5rem 0;
    list-style-position: inside;
    /* padding: 0rem 1rem; */
    max-width: 90%; 
    /* background-color: var(--clr-test-02); */
}

.action-item{
    background-color: var(--clr-test-05);
    border-radius: 3px;
    margin-bottom: 0.5em;
    list-style-type: square;
    /* padding: calc(0.5*var(--pad)) 0 calc(0.5*var(--pad)) calc(0.5*var(--pad)); */
    text-underline-position: below;
    padding-left: 1.25rem;
    text-indent: -1rem;
}

.action-item + .action-item{
    margin-top: 0.5rem; 
}


.requirement + .requirement{
    padding-top: 0;
}

.sublist{
    max-height: 0;  /* Initially hidden */
    padding: 0;
            overflow: hidden; /* Prevents content from spilling out */
            transition: max-height 0.5s ease-out;
            transition: padding 0.5s ease-out; 
            /* Smooth expand/collapse */
    /* hidden by default */
    text-decoration: none;
    background-color: var(--clr-test-03);
}

.expanded{
    max-height: 400px;
    background-color:antiquewhite;
    /* padding: 0.5rem 0.5rem 0.5rem; */
    text-decoration:none;
}

.rule-action__core{
    /* background-color: var(--clr-test-05); */
    padding: 1rem;
    font-size: var(--fs-15);
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 0;

    /* border-left: 1rem var(--clr-highlight) solid; */
    /* box-shadow: 1px 1px 10px rgba(100, 100, 10, 0.5); */
}

.subitem{
    text-decoration: none;
    list-style-type: square;
}

.example{
    /* background-color: var(--clr-test-04); */
    border: 1px dashed rgba(39, 27, 27, 0.5);
    border-radius: 3px;
    margin-bottom: 0.5em;
    list-style-type: square;
    /* padding: calc(0.5*var(--pad)) 0 calc(0.5*var(--pad)) calc(0.5*var(--pad)); */
    text-underline-position: below;
    padding-left: 1.25rem;
    text-indent: -1rem;
}

.example::marker{
    color:rgba(39, 27, 27, 0.5);
}

.example02{
    background-color: var(--clr-test-04);
    border: 1px dashed rgba(39, 27, 27, 0.5);
    border-radius: 3px;
    margin-bottom: 0.5em;
    list-style-type: square;
    padding: calc(0.5*var(--pad)) calc(0.5*var(--pad)) calc(0.5*var(--pad));
    text-underline-position: below;
    padding-left: 1.25rem;
    text-indent: -1rem;
}

.ordered-list{
    margin: 1rem;
}

.icon-arrow{
    border-radius: 4px;
    width: fit-content;
    background-color: var(--clr-highlight);
    /* width: fit-content; */
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    padding: 0 .5rem;
}

.icon-arrow_p{
    margin: 0;
}

.goto{
    margin: 0;
    font-weight: 200;
}

.icon{
    height: 1rem;
}